var config = {};

// GPIO # not pin #
// gpio 17 = rpi pin 11 
config.GARAGE_PIN = 17;
// gpio 22 = rpi pin 15 
config.GARAGE_DOWN = 22;
// gpio 23 = rpi pin 16 
config.GARAGE_UP = 23;

config.RELAY_ON = 1;
config.RELAY_OFF = 0;
config.RELAY_TIMEOUT = 500;

config.DB_CONNECT_STRING = 'postgres://user:password@host/db?ssl=true';
config.DB_LOG_TABLE = 'log';

// email notification defaults
config.SMTP_SERVER = 'localhost';
config.notify_from = "Garage Pi <pi@garagepi>"
config.notify_to = "user@email"

module.exports = config;
